#schedules {
    width: 100%;
    flex-direction: column;
    .full-banner-free-trial {
        background-image: url('../images/photos/full-banner-free-trial-mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        margin-top: -80px;
        height: 100vh;
        h1 {
            color: var(--letters-title);
            font-size: 60px;
            font-weight: bold;
            text-transform: uppercase;
            position: absolute;
            top: 70%;
            padding: 0 var(--space);
            b {
                color: var(--green);
            }
        }
    }
    .form-free-trial {
        width: 100%;
        background-color: var(--main);
        color: var(--white);
        form {
            h3 {
                font-size: 30px;
                font-weight: 400;
            }
            h2 {

            }
            .field {
                color:var(--white);
                [type="date"] {
                    background: var(--main) url('../images/photos/calendar.png')  97% 50% no-repeat ;
                }
                [type="date"]::-webkit-inner-spin-button {
                    display: none;
                }
                [type="date"]::-webkit-calendar-picker-indicator {
                    opacity: 0;
                }
                [type="time"] {
                    background: var(--main) url('../images/photos/relogio.png')  97% 50% no-repeat ;
                }
                [type="time"]::-webkit-inner-spin-button {
                    display: none;
                }
                [type="time"]::-webkit-calendar-picker-indicator {
                    opacity: 0;
                }
                input {
                    border-left: 0px;
                    border-top: 0px;
                    border-color: var(--white);
                    background-color: var(--main);
                    color: var(--white);
                    
                }
                label {
                    color: var(--white);
                }
                button {
                    @include button;
                   
                }
            }
        }            
    }
    .block {
    background-color: var(--gray);
    display: block;        
    .blocks  {
        margin-top: 30px;
        margin-left: 70px;
        margin-right: 70px;
        background-color: var(--white);
        box-shadow: 10px 9px 8px  rgba(50, 50, 50, 0.77);
        display: block;
        h1 {
            color: var(--green);
            text-align: center;
            margin-top: 50px;
            margin-left: auto;
            margin-right: auto;
            width: 6em;
            font-size: 30px;
        }
        p {
            color: var(--green);
            text-align: center;
            margin-top: 50px;
            margin-left: auto;
            margin-right: auto;
            width: 6em;
            font-weight: bold;
            font-size: 20px;
        }
        }
    }   
}

